.task-left-container,.task-inner-container{
    display: flex;
    align-items: center;
    box-sizing: border-box;

}
.task-left-container{
   
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 80px;
}
.task-container{
    border: 1px black solid;
    width: 100vw;
    height:calc(100vh-100px);
    background-color:black;
    color: white;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    flex: 1;

   
}
.task-inner-container{
   width:150px;
   gap: 5px;
   
}
.start-button{
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 2px;
    width: 60px;
    border: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    outline: none;

}